<div>
  <h3><%= @agent.first_name.capitalize %></h3>
  <p> <%= @agent.company %>
</p>
  <button class="btn btn-info">Call <%= @agent.first_name.capitalize %></button>
  <button class="btn btn-success">Email <%= @agent.first_name.capitalize %></button>
</div>
